---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/courses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"450b-Y76vSj5vZX/pWJ5vw1gMyA"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1143'
      x-ratelimit-reset:
      - '1682376269'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"data":{"district":"58da8a43cc70ab00017a1a87","name":"Class
        001, Homeroom","number":"1","id":"5970d4dd35e9e69741000160"},"uri":"/v3.0/courses/5970d4dd35e9e69741000160"},{"data":{"district":"58da8a43cc70ab00017a1a87","name":"Class
        002, Homeroom","number":"2","id":"5970d4dd35e9e69741000161"},"uri":"/v3.0/courses/5970d4dd35e9e69741000161"},{"data":{"district":"58da8a43cc70ab00017a1a87","name":"Class
        003, Homeroom","number":"3","id":"5970d4dd35e9e69741000162"},"uri":"/v3.0/courses/5970d4dd35e9e69741000162"},{"data":{"district":"58da8a43cc70ab00017a1a87","name":"Class
       [...]
