---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      clever-request-id:
      - e49f57b9c78d5e0ca427e043eb61e82e
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1198'
      x-ratelimit-reset:
      - '1682376690'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"data":{"created":"2023-03-26T16:09:40.000Z","data":{"object":{"district_contact":{"district":"58da8a43cc70ab00017a1a87","email":"amelie.zeng+certification@clever.com","id":"58da8a43ca1f1e0001aa4220","name":{"first":"Amelie","last":"Zeng"},"title":""},"error":"","id":"58da8a43cc70ab00017a1a87","last_sync":"2023-03-26T16:08:34.367Z","launch_date":"2017-07-31","login_methods":["Clever
        Passwords"],"name":"#DEMO Certification ISD - Events","portal_url":"https://clever.com/in/demo-certification3cc70ab00017a1a87","sis_type":"sftp","state":"running"},"previous_attributes":{"last_sync":"2023-03-23T16:08:33.459Z"}},"id":"64206e4431f12f05cc49076f","type":"districts.updated"},"uri":"/v3.0/events/64206e4431f12f05cc49076f"},{"data":{"created":"2023-03-26T16:09:40.000Z","data":{"object":{"created":"2017-03-28T16:16:24.878Z","district":"58da8a43cc70ab00017a1a87","ext":{"charter_school":"N"},"high_grade":"5","id":"58da8c58155b940248000007","last_modified":"2023-03-26T16:08:05.609Z","location":{"address":"110
        Pineapple Street","city":"Brooklyn","state":"NY","zip":"11201"},"low_grade":"TransitionalKindergarten","name":"Pineapple
        Elementary School","phone":"(718) 555-4567","principal":{"email":"ceciliar@mailinator.com","name":"Cecilia
        Roderick"},"school_number":"13K123","sis_id":"13K123","state_id":"30890"},"previous_attributes":{"ext":{"charter_school":""},"low_grade":"Kindergarten"}},"id":"64206e4431f12f05cc490775","type":"schools.updated"},"uri":"/v3.0/events/64206e4431f12f05cc490775"},{"data":{"created":"2023-03-26T16:09:40.000Z","data":{"object":{"created":"2017-03-28T16:16:24.885Z","district":"58da8a43cc70ab00017a1a87","ext":{"charter_school":"Y"},"high_grade":"8","id":"58da8c58155b940248000008","last_modified":"2023-03-26T16:08:05.611Z","location":{"address":"322
        Old Beach 8[...]
- request:
    method: get
    uri: https://api.clever.com/v3.0/events?starting_after=64206e4531f12f05cc490ffd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      clever-request-id:
      - d4189db169a3f8b18049c31922a661f5
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1197'
      x-ratelimit-reset:
      - '1682376690'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"data":{"created":"2023-03-26T16:09:41.000Z","data":{"object":{"created":"2020-11-10T17:07:22.507Z","district":"58da8a43cc70ab00017a1a87","email":"s_naomi@example.com","id":"58da8c63d7dc0ca06800048d","last_modified":"2023-03-26T16:08:08.514Z","name":{"first":"Naomi","last":"Schulist","middle":"W"},"roles":{"student":{"credentials":{"district_username":"naomis65"},"dob":"2/5/1998","enrollments":[],"ext":{"gifted_status":"Y"},"gender":"F","grade":"9","graduation_year":"","hispanic_ethnicity":"N","location":{"address":"","city":"","state":"","zip":"11428"},"race":"Caucasian","school":"58da8c58155b940248000007","schools":["58da8c58155b940248000007"],"sis_id":"254019765","state_id":"791924272","student_number":"254019765"}}},"previous_attributes":{"roles":{"student":{"ext":{"gifted_status":""},"gender":"X"}}}},"id":"64206e4531f12f05cc490ffe","type":"users.updated"},"uri":"/v3.0/events/64206e4531f12f05cc490ffe"},{"data":{"created":"2023-03-26T16:09:41.000Z","data":{"object":{"created":"2020-11-10T17:07:22.508Z","district":"58da8a43cc70ab00017a1a87","email":"c_anthony@example.com","id":"58da8c63d7dc0ca06800048e","last_modified":"2023-03-26T16:08:08.516Z","name":{"first":"Anthony","last":"Corwin","middle[...]
