---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/events/64206e4431f12f05cc49076f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      clever-request-id:
      - 10cdfebfd81b93eb15296082b7492f4a
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1199'
      x-ratelimit-reset:
      - '1682376690'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"created":"2023-03-26T16:09:40.000Z","data":{"object":{"district_contact":{"district":"58da8a43cc70ab00017a1a87","email":"amelie.zeng+certification@clever.com","id":"58da8a43ca1f1e0001aa4220","name":{"first":"Amelie","last":"Zeng"},"title":""},"error":"","id":"58da8a43cc70ab00017a1a87","last_sync":"2023-03-26T16:08:34.367Z","launch_date":"2017-07-31","login_methods":["Clever
        Passwords"],"name":"#DEMO Certification ISD - Events","portal_url":"https://clever.com/in/demo-certification3cc70ab00017a1a87","sis_type":"sftp","state":"running"},"previous_attributes":{"last_sync":"2023-03-23T16:08:33.459Z"}},"id":"64206e4431f12f05cc49076f","type":"districts.updated"},"links":[{"rel":"self","uri":"/v3.0/events/64206e4431f12f05cc49076f"}]}'
      effective_url: https://api.clever.com/v3.0/events/64206e4431f12f05cc49076f
  recorded_at: Mon, 24 Apr 2023 22:50:30 GMT
recorded_with: VCR 6.1.0
