---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/schools?starting_after=58da8c58155b940248000007
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"77d-e8sxDwLmlKUJUC5FSodsOQ"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1087'
      x-ratelimit-reset:
      - '1682376269'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"data":{"created":"2023-04-12T23:04:53.492Z","last_modified":"2023-04-23T16:07:28.863Z","name":"Rockaway
        Beach Middle School","ext":{"charter_school":"Y"},"school_number":"27Q321","phone":"(718)
        555-8989","sis_id":"27Q321","low_grade":"6","state_id":"412","high_grade":"8","location":{"address":"322
        Old Beach 88th Street","city":"Rockaway Beach","state":"NY","zip":"11693"},"principal":{"name":"Leonard
        Springsteen","email":"lspringsteen@mailinator.com"},"district":"58da8a43cc70ab00017a1a87","id":"58da8c58155b940248000008"},"uri":"/v3.0/schools/58da8c58155b940248000008"},{"data":{"district":"58da8a43cc70ab00017a1a87","low_grade":"6","principal":{"email":"lspringsteen@mailinator.com","name":"Leonard
        Springsteen"},"phone":"(718) 555-8989","high_grade":"8","state_id":"413","school_number":"2ZR351","sis_id":"2ZR351","ext":{"charter_school":""},"last_modified":"2023-04-20T16:08:58.898Z","location":{"address":"322
        Old Beach 88th Street","city":"Rockaway Beach","state":"NY","zip":"11693"},"name":"Rockaway
        Beach Middle School Campus 2","created":"2023-04-12T23:04:53.494Z","id":"58da8c58155b940248000009"},"uri":"/v3.0/schools/58da8c58155b940248000009"},{"data":{"high_grade":"8","sis_id":"2ZT381","principal":{"name":"Leonard
        Springsteen","email":"lspringsteen@mailinator.com"},"school_number":"2ZT381","ext":{"charter_school":""},"district":"58da8a43cc70ab00017a1a87","name":"Rockaway
        Beach Middle School Campus 3","low_grade":"6","phone":"(718) 555-8989","last_modified":"2023-04-20T16:08:58.902Z","created":"2023-04-12T23:04:53.496Z","state_id":"414","location":{"state":"NY","zip":"11693","address":"322
        Old Beach 88th Street","city":"Rockaway Beach"},"id":"58da8c58155b94024800000a"},"uri":"/v3.0/schools/58da8c58155b94024800000a"}],"links":[{"rel":"self","uri":"/v3.0/schools?starting_after=58da8c58155b940248000007"},{"rel":"prev","uri":"/v3.0/schools?ending_before=58da8c58155b940248000008"}]}'
      effective_url: https://api.clever.com/v3.0/schools?starting_after=58da8c58155b940248000007
  recorded_at: Mon, 24 Apr 2023 22:43:42 GMT
recorded_with: VCR 6.1.0
