---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/schools/58da8c58155b940248000007
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3c7-K7VF3fIS+xhmKxkopr7ngg"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1172'
      x-ratelimit-reset:
      - '1682376269'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"high_grade":"5","school_number":"13K123","location":{"address":"110
        Pineapple Street","city":"Brooklyn","state":"NY","zip":"11201"},"last_modified":"2023-04-23T16:07:28.860Z","name":"Pineapple
        Elementary School","phone":"(718) 555-4567","district":"58da8a43cc70ab00017a1a87","sis_id":"13K123","created":"2023-04-12T23:04:53.490Z","ext":{"charter_school":"N"},"principal":{"email":"ceciliar@mailinator.com","name":"Cecilia
        Roderick"},"low_grade":"TransitionalKindergarten","state_id":"30890","id":"58da8c58155b940248000007"},"links":[{"rel":"self","uri":"/v3.0/schools/58da8c58155b940248000007"},{"rel":"district","uri":"/v3.0/schools/58da8c58155b940248000007/district"},{"rel":"sections","uri":"/v3.0/schools/58da8c58155b940248000007/sections"},{"rel":"users","uri":"/v3.0/schools/58da8c58155b940248000007/users"},{"rel":"terms","uri":"/v3.0/schools/58da8c58155b940248000007/terms"},{"rel":"courses","uri":"/v3.0/schools/58da8c58155b940248000007/courses"}]}'
      effective_url: https://api.clever.com/v3.0/schools/58da8c58155b940248000007
  recorded_at: Mon, 24 Apr 2023 22:43:32 GMT
- request:
    method: get
    uri: https://api.clever.com/v3.0/schools/58da8c58155b940248000007/terms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3b8-tIwTBuIt1wFLlUWjlI7/7A"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1171'
      x-ratelimit-reset:
      - '1682376269'
    body:
      encoding: ASCII-8BIT
      string: '{"links":[{"rel":"self","uri":"/v3.0/schools/58da8c58155b940248000007/terms"}],"data":[{"data":{"district":"58da8a43cc70ab00017a1a87","end_date":"2013-06-01T00:00:00.000Z","name":"S2","start_date":"2012-12-02T00:00:00.000Z","id":"5b42365868c8d6104f634d33"},"uri":"/v3.0/terms/5b42365868c8d6104f634d33"},{"data":{"district":"58da8a43cc70ab00017a1a87","end_date":"2013-06-01T00:00:00.000Z","name":"Y1","start_date":"2012-08-01T00:00:00.000Z","id":"5b42365868c8d6104f634d34"},"uri":"/v3.0/terms/5b42365868c8d6104f634d34"},{"data":{"district":"58da8a43cc70ab00017a1a87","end_date":"2017-06-01T00:00:00.000Z","name":"Y1","start_date":"2016-08-01T00:00:00.000Z","id":"5b42365868c8d6104f634d35"},"uri":"/v3.0/terms/5b42365868c8d6104f634d35"},{"data":{"district":"58da8a43cc70ab00017a1a87","end_date":"2018-06-01T00:00:00.000Z","name":"Y1","start_date":"2017-08-01T00:00:00.000Z","id":"5b42365868c8d6104f634d36"},"uri":"/v3.0/terms/5b42365868c8d6104f634d36"}]}'
      effective_url: https://api.clever.com/v3.0/schools/58da8c58155b940248000007/terms
  recorded_at: Mon, 24 Apr 2023 22:43:32 GMT
recorded_with: VCR 6.1.0
