---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/schools/58da8c58155b940248000007/courses?starting_after=5970d4dd35e9e697410001ff
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"13c0-NuGm8zGEa9AjDk8Jc+2A/g"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1159'
      x-ratelimit-reset:
      - '1682376269'
    body:
      encoding: ASCII-8BIT
      string: '{"links":[{"rel":"self","uri":"/v3.0/schools/58da8c58155b940248000007/courses?starting_after=5970d4dd35e9e697410001ff"},{"rel":"prev","uri":"/v3.0/schools/58da8c58155b940248000007/courses?ending_before=5970d4dd35e9e69741000200"}],"data":[{"data":{"district":"58da8a43cc70ab00017a1a87","name":"Grade
        5 Social Studies, Class 503","number":"503","id":"5970d4dd35e9e69741000200"},"uri":"/v3.0/courses/5970d4dd35e9e69741000200"},{"data":{"district":"58da8a43cc70ab00017a1a87","name":"Group
        Guidance","number":"901","id":"5970d4dd35e9e69741000207"},"uri":"/v3.0/courses/5970d4dd35e9e69741000207"},{"data":{"district":"58da8a43cc70ab00017a1a87","name":"Integrated
        Algebra","number":"101","id":"5970d4dd35e9e69741000214"},"uri":"/v3.0/courses/5970d4dd35e9e69741000214"},{"data":{"district":"58da8a43cc70ab00017a1a87","name":"Introduction
  [...]
