---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/schools/58da8c58155b940248000007/terms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3b8-tIwTBuIt1wFLlUWjlI7/7A"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1177'
      x-ratelimit-reset:
      - '1682376269'
    body:
      encoding: ASCII-8BIT
      string: '{"links":[{"rel":"self","uri":"/v3.0/schools/58da8c58155b940248000007/terms"}],"data":[{"data":{"district":"58da8a43cc70ab00017a1a87","end_date":"2013-06-01T00:00:00.000Z","name":"S2","start_date":"2012-12-02T00:00:00.000Z","id":"5b42365868c8d6104f634d33"},"uri":"/v3.0/terms/5b42365868c8d6104f634d33"},{"data":{"district":"58da8a43cc70ab00017a1a87","end_date":"2013-06-01T00:00:00.000Z","name":"Y1","start_date":"2012-08-01T00:00:00.000Z","id":"5b42365868c8d6104f634d34"},"uri":"/v3.0/terms/5b42365868c8d6104f634d34"},{"data":{"district":"58da8a43cc70ab00017a1a87","end_date":"2017-06-01T00:00:00.000Z","name":"Y1","start_date":"2016-08-01T00:00:00.000Z","id":"5b42365868c8d6104f634d35"},"uri":"/v3.0/terms/5b42365868c8d6104f634d35"},{"data":{"district":"58da8a43cc70ab00017a1a87","end_date":"2018-06-01T00:00:00.000Z","name":"Y1","start_date":"2017-08-01T00:00:00.000Z","id":"5b42365868c8d6104f634d36"},"uri":"/v3.0/terms/5b42365868c8d6104f634d36"}]}'
      effective_url: https://api.clever.com/v3.0/schools/58da8c58155b940248000007/terms
  recorded_at: Mon, 24 Apr 2023 22:43:31 GMT
recorded_with: VCR 6.1.0
