---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/schools/58da8c58155b940248000007
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3c7-K7VF3fIS+xhmKxkopr7ngg"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1174'
      x-ratelimit-reset:
      - '1682376269'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"high_grade":"5","school_number":"13K123","location":{"address":"110
        Pineapple Street","city":"Brooklyn","state":"NY","zip":"11201"},"last_modified":"2023-04-23T16:07:28.860Z","name":"Pineapple
        Elementary School","phone":"(718) 555-4567","district":"58da8a43cc70ab00017a1a87","sis_id":"13K123","created":"2023-04-12T23:04:53.490Z","ext":{"charter_school":"N"},"principal":{"email":"ceciliar@mailinator.com","name":"Cecilia
        Roderick"},"low_grade":"TransitionalKindergarten","state_id":"30890","id":"58da8c58155b940248000007"},"links":[{"rel":"self","uri":"/v3.0/schools/58da8c58155b940248000007"},{"rel":"district","uri":"/v3.0/schools/58da8c58155b940248000007/district"},{"rel":"sections","uri":"/v3.0/schools/58da8c58155b940248000007/sections"},{"rel":"users","uri":"/v3.0/schools/58da8c58155b940248000007/users"},{"rel":"terms","uri":"/v3.0/schools/58da8c58155b940248000007/terms"},{"rel":"courses","uri":"/v3.0/schools/58da8c58155b940248000007/courses"}]}'
      effective_url: https://api.clever.com/v3.0/schools/58da8c58155b940248000007
  recorded_at: Mon, 24 Apr 2023 22:43:31 GMT
recorded_with: VCR 6.1.0
