---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/schools/58da8c58155b940248000007/courses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4609-auHdtH0nyF1Pl0a5XwBrKg"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1161'
      x-ratelimit-reset:
      - '1682376269'
    body:
      encoding: ASCII-8BIT
      string: '{"links":[{"rel":"self","uri":"/v3.0/schools/58da8c58155b940248000007/courses"},{"rel":"next","uri":"/v3.0/schools/58da8c58155b940248000007/courses?starting_after=5970d4dd35e9e697410001ff"}],"data":[{"data":{"district":"58da8a43cc70ab00017a1a87","name":"Class
        001, Homeroom","number":"1","id":"5970d4dd35e9e69741000160"},"uri":"/v3.0/courses/5970d4dd35e9e69741000160"},{"data":{"district":"58da8a43cc70ab00017a1a87","name":"Class
        002, Homeroom","number":"2","id":"5970d4dd35e9e69741000161"},"uri":"/v3.0/courses/5970d4dd35e9e69741000161"},{"data":{"district":"58da8a43cc70ab00017a1a87","name":"Class
        003, Homeroom","number":"3","id":"5970d4dd35e9e69741000162"},"uri":"/v3.0/courses/5970d4dd35e9e69741000162"},{"data":{"district":"58da8a43cc70ab00017a1a87","name":"Class
       [...]
- request:
    method: get
    uri: https://api.clever.com/v3.0/schools/58da8c58155b940248000007/courses?starting_after=5970d4dd35e9e697410001ff
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"13c0-NuGm8zGEa9AjDk8Jc+2A/g"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-l[...]
