---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/schools
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"94f-jOfrC/Ikr2+EZIyj1TrMqA"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1088'
      x-ratelimit-reset:
      - '1682376269'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"data":{"high_grade":"5","school_number":"13K123","location":{"address":"110
        Pineapple Street","city":"Brooklyn","state":"NY","zip":"11201"},"last_modified":"2023-04-23T16:07:28.860Z","name":"Pineapple
        Elementary School","phone":"(718) 555-4567","district":"58da8a43cc70ab00017a1a87","sis_id":"13K123","created":"2023-04-12T23:04:53.490Z","ext":{"charter_school":"N"},"principal":{"email":"ceciliar@mailinator.com","name":"Cecilia
        Roderick"},"low_grade":"TransitionalKindergarten","state_id":"30890","id":"58da8c58155b940248000007"},"uri":"/v3.0/schools/58da8c58155b940248000007"},{"data":{"created":"2023-04-12T23:04:53.492Z","last_modified":"2023-04-23T16:07:28.863Z","name":"Rockaway
        Beach Middle School","ext":{"charter_school":"Y"},"school_number":"27Q321","phone":"(718)
        555-8989","sis_id":"27Q321","low_grade":"6","state_id":"412","high_grade":"8","location":{"address":"322
        Old Beach 88th Street","city":"Rockaway Beach","state":"NY","zip":"11693"},"principal":{"name":"Leo[...]
