---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/schools/58da8c58155b940248000007/users?starting_after=58da8c63d7dc0ca068000416
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"12f9d-A/HXJpDv6UkmREOVGkPcGQ"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1196'
      x-ratelimit-reset:
      - '1682376269'
    body:
      encoding: ASCII-8BIT
      string: '{"links":[{"rel":"self","uri":"/v3.0/schools/58da8c58155b940248000007/users?starting_after=58da8c63d7dc0ca068000416"},{"rel":"prev","uri":"/v3.0/schools/58da8c58155b940248000007/users?ending_before=58da8c63d7dc0ca068000417"},{"rel":"next","uri":"/v3.0/schools/58da8c58155b940248000007/users?starting_after=58da8c63d7dc0ca0680004ac"}],"data":[{"data":{"created":"2023-04-12T23:05:01.411Z","district":"58da8a43cc70ab00017a1a87","email":"danny.g@example.com","last_modified":"2023-04-12T23:05:01.411Z","name":{"first":"Danny","last":"Greenholt","middle":"A"},"id":"58da8c63d7dc0ca068000417","roles":{"student":{"credentials":{"district_username":"dannyg60"},"dob":"3/20/2007","enrollments":[],"ext":{"gifted_status":""},"gender":"M","grade":"Kindergarten","graduation_year":"","hispanic_ethnicity":"Y","location":{"address":"","city":"","state":"","zip":"11378"},"race":"Black
        or African American","school":"58da8c58155b940248000007","schools":["58da8c58155b940248000007"],"sis_id":"134052560","state_id":"858732007","student_number":"134052560","email":"danny.g@example.com"}}},"uri":"/v3.0/users/58da8c63d7dc0ca068000417"},{"data":{"created":"2023-04-12T23:05:01.413Z","district":"58da8a43cc70ab00017a1a87","email":"jesse.m@example.org","last_modified":"2023-04-23T16:07:32.651Z","name":{"first":"Jesse","last":"McGlynn","middle":"M"},"id":"58da8c63d7dc0ca068000418","roles":{"student":{"credentials":{"district_username":"jessem58"},"dob":"3/9/2001","enrollments":[],"ext":{"gifted_status":""},"gender":"M","grade":"6","graduation_[...]
