---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/sections/58da8c6a894273be68000182
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"673-vmvLQQS2gUZx5BD+obGoQA"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1194'
      x-ratelimit-reset:
      - '1682376269'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"course":"5970d4de35e9e69741000277","created":"2023-04-12T23:05:00.310Z","district":"58da8a43cc70ab00017a1a87","ext":{"classroom":"A1"},"grade":"6","last_modified":"2023-04-23T16:07:31.465Z","name":"Sixth
        Grade Advisory - Madison - 4","period":"4","school":"58da8c58155b940248000008","section_number":"","sis_id":"587","students":["58da8c63d7dc0ca06800040a","58da8c63d7dc0ca068000425","58da8c63d7dc0ca06800043b","58da8c63d7dc0ca068000452","58da8c63d7dc0ca068000467","58da8c64d7dc0ca06800059c","58da8c64d7dc0ca0680005cb","58da8c64d7dc0ca0680005cf","58da8c64d7dc0ca0680005e6","58da8c64d7dc0ca068000614","58da8c64d7dc0ca06800062a","58da8c64d7dc0ca068000670","58da8c65d7dc0ca06800068c","58da8c65d7dc0ca0680006bc","58da8c65d7dc0ca0680006bf","58da8c65d7dc0ca0680006ca","58da8c65d7dc0ca0680006f5","58da8c65d7dc0ca06800072b","58da8c65d7dc0ca06800073b","58da8c65d7dc0ca068000745","58da8c65d7dc0ca068000764","58da8c65d7dc0ca068000766","58da8c65d7dc0ca06800079c","58da8c65d7dc0ca0680007bb","58da8c65d7dc0ca0680007ce","58da8c65d7dc0ca0680007d7"],"subject":"homeroom/advisory","teacher":"5faac8b7bc447500a10ae88f","teachers":["5faac8b7bc447500a10ae88f"],"term_id":"5b42365868c8d6104f634d34","id":"58da8c6a894273be68000182"},"links":[{"rel":"self","uri":"/v3.0/sections/58da8c6a894273be68000182"},{"rel":"district","uri":"/v3.0/sections/58da8c6a894273be68000182/district"},{"rel":"school","uri":"/v3.0/sections/58da8c6a894273be68000182/school"},{"rel":"term","uri":"/v3.0/sections/58da8c6a894273be68000182/term"},{"rel":"course","uri":"/v3.0/sections/58da8c6a894273be68000182/course"},{"rel":"users","uri":"/v3.0/sections/58da8c6a894273be68000182/users"}]}'
      effective_url: https://api.clever.com/v3.0/sections/58da8c6a894273be68000182
  recorded_at: Mon, 24 Apr 2023 22:43:30 GMT
- request:
    method: get
    uri: https://api.clever.com/v3.0/sections/58da8c6a894273be68000182/district
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"24a-iG2fCVe6Rs/fcAzscYZ2uA"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1193'
      x-ratelimit-reset:
      - '1682376269'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"login_methods":["Clever Badges","Clever Passwords"],"sis_type":"sftp","state":"running","error":"","last_sync":"2023-04-23T16:08:05.652Z","portal_url":"https://clever.com/in/demo-certification3cc70ab00017a1a87","district_contact":{"district":"58da8a43cc70ab00017a1a87","email":"amelie.zeng+certification@clever.com","name":{"last":"Zeng","first":"Amelie"},"title":"","id":"58da8a43ca1f1e0001aa4220"},"name":"#DEMO
        Certification ISD - Events","launch_date":"2017-07-31","id":"58da8a43cc70ab00017a1a87"},"links":[{"rel":"self","uri":"/v3.0/districts/58da8a43cc70ab00017a1a87"}]}'
      effective_url: https://api.clever.com/v3.0/sections/58da8c6a894273be68000182/district
  recorded_at: Mon, 24 Apr 2023 22:43:30 GMT
recorded_with: VCR 6.1.0
