---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/sections?starting_after=58da8c6b894273be68000255
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1cd86-zLZfJDX7RTEDAohNOKMP2A"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1097'
      x-ratelimit-reset:
      - '1682376269'
    body:
      encoding: ASCII-8BIT
      string: '{"links":[{"rel":"self","uri":"/v3.0/sections?starting_after=58da8c6b894273be68000255"},{"rel":"prev","uri":"/v3.0/sections?ending_before=58da8c6b894273be68000256"},{"rel":"next","uri":"/v3.0/sections?starting_after=58da8c6b894273be680002de"}],"data":[{"data":{"course":"5970d4dd35e9e69741000244","created":"2023-04-12T23:05:00.870Z","district":"58da8a43cc70ab00017a1a87","ext":{"classroom":"A2"},"grade":"7","last_modified":"2023-04-23T16:07:32.093Z","name":"Media
        Arts, Class 701 - Konopelski - 9","period":"9","school":"58da8c58155b940248000008","section_number":"","sis_id":"800","students":["58da8c63d7dc0ca068000444","58da8c63d7dc0ca06800044e","58da8c63d7dc0ca068000457","58da8c63d7dc0ca06800045e","58da8c63d7dc0ca068000472","58da8c63d7dc0ca068000490","58da8c63d7dc0ca0680004a7","58da8c63d7dc0ca0680004d8","58da8c63d7dc0ca06800050f","58da8c64d7dc0ca068000533","58da8c64d7dc0ca068000538","58da8c64d7dc0ca06800055f","58da8c64d7dc0ca068000588","58da8c64d7dc0ca0680005f8","58da8c64d7dc0ca0680005ff","58da8c64d7dc0ca068000648","58da8c64d7dc0ca06800065c","58da8c64d7dc0ca06800065e","58da8c64d7dc0ca06800067b","58da8c64d7dc0ca068000683","58da8c65d7dc0ca0680006df","58da8c65d7dc0ca06800071b","58da8c65d7dc0ca068000732","58da8c65d7dc0ca06800073d","58da8c65d7dc0ca06800077b","58da8c65d7dc0ca06800079a"],"subject":"arts
        and music","teacher":"5faac8b7bc447500a10ae88d","teachers":["5faac8b7bc447500a10ae88d"],"term_id":"5b42365868c8d6104f634d34","id":"58da8c6b894273be68000256"},"uri":"/v3.0/sections/58da8c6b894273be68000256"},{"data":{"course":"5970d4dd35e9e69741000245","created":"2023-04-12T23:05:00.873Z","district":"58da8a43cc70ab00017a1a87","ext":{"classroom":"A2"},"grade":"7","last_modified":"2023-04-23T16:07:32.096Z","name":"Media
        Arts, Class 702 - Konopelski - 9","period":"9","school":"58da8c58155b940248000008","section_number":"","sis_id":"801","students":["58da8c63d7dc0ca068000403","58da8c63d7dc0ca06800042e","58da8c63d7dc0ca0[...]
