---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/sections/58da8c6a894273be68000182/course
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c5-CrAtygkIe1tiscw5/xujbQ"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1131'
      x-ratelimit-reset:
      - '1682376269'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"district":"58da8a43cc70ab00017a1a87","name":"Sixth Grade
        Advisory","number":"601","id":"5970d4de35e9e69741000277"},"links":[{"rel":"self","uri":"/v3.0/courses/5970d4de35e9e69741000277"}]}'
      effective_url: https://api.clever.com/v3.0/sections/58da8c6a894273be68000182/course
  recorded_at: Mon, 24 Apr 2023 22:43:37 GMT
recorded_with: VCR 6.1.0
