---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/sections/58da8c6a894273be68000182/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5325-XCOjI5BgUuagqGwl0PxrDQ"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1135'
      x-ratelimit-reset:
      - '1682376269'
    body:
      encoding: ASCII-8BIT
      string: '{"links":[{"rel":"self","uri":"/v3.0/sections/58da8c6a894273be68000182/users"}],"data":[{"data":{"created":"2023-04-12T23:05:01.383Z","district":"58da8a43cc70ab00017a1a87","email":"k.theron@example.com","last_modified":"2023-04-23T16:07:32.626Z","name":{"first":"Theron","last":"Kuvalis","middle":"T"},"id":"58da8c63d7dc0ca06800040a","roles":{"student":{"credentials":{"district_username":"theronk88"},"dob":"1/20/2001","enrollments":[],"ext":{"gifted_status":""},"gender":"M","grade":"6","graduation_year":"","hispanic_ethnicity":"N","location":{"address":"","city":"","state":"","zip":"11237"},"race":"Two
        or More Races","school":"58da8c58155b940248000008","schools":["58da8c58155b940248000007","58da8c58155b940248000008"],"sis_id":"126646288","state_id":"549916713","student_number":"126646288","email":"k.theron@example.com"}}},"uri":"/v3.0/users/58da8c63d7dc0ca06800040a"},{"data":{"created":"2023-04-12T23:05:01.441Z","district":"58da8a43cc70ab00017a1a87","email":"v.william@example.org","last_modified":"2023-04-23T16:07:32.675Z","name":{"first":"William","last":"VonRueden","middle":"A"},"id":"58da8c63d7dc0ca068000425","roles":{"student":{"credentials":{"district_username":"williamv49"},"dob":"12/14/2001","enrollments":[],"ext":{"gifted_status":""},"gender":"M","grade":"6","[...]
