---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/terms/5b42365868c8d6104f634d32
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1ad-7QvQybvzH8EXnrFi5HFVMQ"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1136'
      x-ratelimit-reset:
      - '1682376269'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"district":"58da8a43cc70ab00017a1a87","end_date":"2012-12-01","name":"S1","start_date":"2012-08-01","id":"5b42365868c8d6104f634d32"},"links":[{"rel":"self","uri":"/v3.0/terms/5b42365868c8d6104f634d32"},{"rel":"district","uri":"/v3.0/terms/5b42365868c8d6104f634d32/district"},{"rel":"sections","uri":"/v3.0/terms/5b42365868c8d6104f634d32/sections"},{"rel":"schools","uri":"/v3.0/terms/5b42365868c8d6104f634d32/schools"}]}'
      effective_url: https://api.clever.com/v3.0/terms/5b42365868c8d6104f634d32
  recorded_at: Mon, 24 Apr 2023 22:43:36 GMT
recorded_with: VCR 6.1.0
