---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/terms?limit=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2c6-3Ds/XTEpXRWYw4y6o8lCzQ"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1090'
      x-ratelimit-reset:
      - '1682376269'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"data":{"district":"58da8a43cc70ab00017a1a87","end_date":"2012-12-01","name":"S1","start_date":"2012-08-01","id":"5b42365868c8d6104f634d32"},"uri":"/v3.0/terms/5b42365868c8d6104f634d32"},{"data":{"district":"58da8a43cc70ab00017a1a87","end_date":"2013-06-01","name":"S2","start_date":"2012-12-02","id":"5b42365868c8d6104f634d33"},"uri":"/v3.0/terms/5b42365868c8d6104f634d33"},{"data":{"end_date":"2013-06-01","name":"Y1","start_date":"2012-08-01","district":"58da8a43cc70ab00017a1a87","id":"5b42365868c8d6104f634d34"},"uri":"/v3.0/terms/5b42365868c8d6104f634d34"}],"links":[{"rel":"self","uri":"/v3.0/terms?limit=3"},{"rel":"next","uri":"/v3.0/terms?limit=3&starting_after=5b42365868c8d6104f634d34"}]}'
      effective_url: https://api.clever.com/v3.0/terms?limit=3
  recorded_at: Mon, 24 Apr 2023 22:43:42 GMT
recorded_with: VCR 6.1.0
