---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/users/58da8c63d7dc0ca068000478/schools
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4de-KJiwfCo1KdwiYdoYXDEYmg"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1156'
      x-ratelimit-reset:
      - '1682376269'
    body:
      encoding: ASCII-8BIT
      string: '{"links":[{"rel":"self","uri":"/v3.0/users/58da8c63d7dc0ca068000478/schools"}],"data":[{"data":{"created":"2023-04-12T23:04:53.490Z","district":"58da8a43cc70ab00017a1a87","ext":{"charter_school":"N"},"high_grade":"5","last_modified":"2023-04-23T16:07:28.860Z","location":{"address":"110
        Pineapple Street","city":"Brooklyn","state":"NY","zip":"11201"},"low_grade":"TransitionalKindergarten","name":"Pineapple
        Elementary School","phone":"(718) 555-4567","principal":{"email":"ceciliar@mailinator.com","name":"Cecilia
        Roderick"},"school_number":"13K123","sis_id":"13K123","state_id":"30890","id":"58da8c58155b940248000007"},"uri":"/v3.0/schools/58da8c58155b940248000007"},{"data":{"created":"2023-04-12T23:04:53.492Z","district":"58da8a43cc70ab00017a1a87","ext":{"charter_school":"Y"},"high_grade":"8","last_modified":"2023-04-23T16:07:28.863Z","location":{"address":"322
        Old Beach 88th Street","city":"Rockaway Beach","state":"NY","zip":"11693"},"low_grade":"6","name":"Rockaway
        Beach Middle School","phone":"(718) 555-8989","principal":{"email":"lspringsteen@mailinator.com","name":"Leonard
        Springsteen"},"school_number":"27Q321","sis_id":"27Q321","state_id":"412","id":"58da8c58155b940248000008"},"uri":"/v3.0/schools/58da8c58155b940248000008"}]}'
      effective_url: https://api.clever.com/v3.0/users/58da8c63d7dc0ca068000478/schools
  recorded_at: Mon, 24 Apr 2023 22:43:33 GMT
recorded_with: VCR 6.1.0
