---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/users/58da8c63d7dc0ca0680003ed/myteachers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2b8-J1hVFXnYGUZs4uq+qvvbHg"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1154'
      x-ratelimit-reset:
      - '1682376269'
    body:
      encoding: ASCII-8BIT
      string: '{"links":[{"rel":"self","uri":"/v3.0/users/58da8c63d7dc0ca0680003ed/myteachers"}],"data":[{"data":{"created":"2023-04-12T23:05:03.699Z","district":"58da8a43cc70ab00017a1a87","email":"seth_schoen.example.org","last_modified":"2023-04-23T16:07:34.970Z","name":{"first":"Seth","last":"Schoen","middle":"C"},"id":"5faac8b7bc447500a10ae87f","roles":{"teacher":{"credentials":{"district_username":"schoen.seth"},"ext":{"admin_permissions":"Y"},"school":"58da8c58155b940248000007","schools":["58da8c58155b940248000007"],"sis_id":"69","state_id":"827269161","teacher_number":"256742","title":"Kindergarten
        Teacher","legacy_id":"58da8c5da7a7e5a64700009a"}}},"uri":"/v3.0/users/5faac8b7bc447500a10ae87f"}]}'
      effective_url: https://api.clever.com/v3.0/users/58da8c63d7dc0ca0680003ed/myteachers
  recorded_at: Mon, 24 Apr 2023 22:43:33 GMT
recorded_with: VCR 6.1.0
