---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/users/5faac8b7bc447500a10ae840
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3d1-jc3bwRhSxJx4x6HZ1ZKkzQ"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1075'
      x-ratelimit-reset:
      - '1682376269'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"created":"2023-04-12T23:05:03.568Z","district":"58da8a43cc70ab00017a1a87","email":"braeden_glover@example.net","last_modified":"2023-04-23T16:07:34.807Z","name":{"first":"Braeden","last":"Glover","middle":"L"},"id":"5faac8b7bc447500a10ae840","roles":{"teacher":{"credentials":{"district_username":"braeden.gloverbraeden.gloverbraeden.gloverbraeden.glover"},"ext":{"admin_permissions":"Y"},"school":"58da8c58155b940248000007","schools":["58da8c58155b940248000007"],"sis_id":"47","state_id":"751884748","teacher_number":"230186","title":"Grade
        9 English Teacher","legacy_id":"58da8c5da7a7e5a647000082"}}},"links":[{"rel":"self","uri":"/v3.0/users/5faac8b7bc447500a10ae840"},{"rel":"district","uri":"/v3.0/users/5faac8b7bc447500a10ae840/district"},{"rel":"sections","uri":"/v3.0/users/5faac8b7bc447500a10ae840/sections"},{"rel":"myStudents","uri":"/v3.0/users/5faac8b7bc447500a10ae840/myStudents"},{"rel":"schools","uri":"/v3.0/users/5faac8b7bc447500a10ae840/schools"}]}'
      effective_url: https://api.clever.com/v3.0/users/5faac8b7bc447500a10ae840
  recorded_at: Mon, 24 Apr 2023 22:43:43 GMT
- request:
    method: get
    uri: https://api.clever.com/v3.0/users/5faac8b7bc447500a10ae840/mystudents
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4c41-NbRBB0aV0jXvcZJ0wLPFSQ"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1074'
      x-ratelimit-reset:
      - '1682376269'
    body:
      encoding: ASCII-8BIT
      string: '{"links":[{"rel":"self","uri":"/v3.0/users/5faac8b7bc447500a10ae840/mystudents"}],"data":[{"data":{"created":"2023-04-12T23:05:01.320Z","district":"58da8a43cc70ab00017a1a87","email":"w_douglas@example.net","last_modified":"2023-04-23T16:07:32.551Z","name":{"first":"Douglas","last":"Wisoky","middle":"S"},"id":"58da8c63d7dc0ca0680003ee","roles":{"student":{"credentials":{"district_username":"douglasw58"},"dob":"6/18/1998","enrollments":[],"ext":{"gifted_status":"Y"},"gender":"M","grade":"9","graduation_year":"","hispanic_ethnicity":"N","location":{"address":"","city":"","state":"","zip":"11004"},"race":"Caucasian","school":"58da8c58155b940248000007","schools":["58da8c58155b940248000007"],"sis_id":"101565758","state_id":"498006597","student_number":"101565758","email":"w_douglas@example.net"}}},"uri":"/v3.0/users/58da8c63d7dc0ca0680003ee"},{"data":{"created":"2023-04-12T23:05:01.409Z","district":"58da8a43cc70ab00017a1a87","email":"ralph.t@example.com","last_modified":"2023-04-23T16:07:32.648Z","name":{"first":"Ralph","last":"Torphy","middle":"V"},"id":"58da8c63d7dc0ca068000416","roles":{"student":{"credentials":{"district_username":"ralpht98"},"dob":"6/30/1998","enrollments":[],"ext":{"gifted_status":"Y"},"gender":"M","grade":"9","graduati[...]
