---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/users/58da8c63d7dc0ca068000478
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"496-b795TuSZiWgyaSfgodghsQ"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1152'
      x-ratelimit-reset:
      - '1682376269'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"created":"2023-04-12T23:05:01.632Z","district":"58da8a43cc70ab00017a1a87","email":"james.s@example.com","last_modified":"2023-04-23T16:07:32.854Z","name":{"first":"James","last":"Spencer","middle":"H"},"id":"58da8c63d7dc0ca068000478","roles":{"student":{"credentials":{"district_username":"jamess09"},"dob":"1/16/1998","enrollments":[],"ext":{"gifted_status":"Y"},"gender":"M","grade":"9","graduation_year":"","hispanic_ethnicity":"Y","location":{"address":"","city":"","state":"","zip":"10280"},"race":"Caucasian","school":"58da8c58155b940248000007","schools":["58da8c58155b940248000007","58da8c58155b940248000008"],"sis_id":"233564109","state_id":"197500067","student_number":"233564109","email":"james.s@example.com"}}},"links":[{"rel":"self","uri":"/v3.0/users/58da8c63d7dc0ca068000478"},{"rel":"district","uri":"/v3.0/users/58da8c63d7dc0ca068000478/district"},{"rel":"sections","uri":"/v3.0/users/58da8c63d7dc0ca068000478/sections"},{"rel":"myContacts","uri":"/v3.0/users/58da8c63d7dc0ca068000478/myContacts"},{"rel":"myTeachers","uri":"/v3.0/users/58da8c63d7dc0ca068000478/myTeachers"},{"rel":"schools","uri":"/v3.0/users/58da8c63d7dc0ca068000478/schools"}]}'
      effective_url: https://api.clever.com/v3.0/users/58da8c63d7dc0ca068000478
  recorded_at: Mon, 24 Apr 2023 22:43:34 GMT
recorded_with: VCR 6.1.0
