---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/users/58da8c63d7dc0ca068000478/sections
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"118f-SCNgC/rha8M/RS2nN4+Kjw"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1157'
      x-ratelimit-reset:
      - '1682376269'
    body:
      encoding: ASCII-8BIT
      string: '{"links":[{"rel":"self","uri":"/v3.0/users/58da8c63d7dc0ca068000478/sections"}],"data":[{"data":{"course":"5970d4dd35e9e69741000207","created":"2023-04-12T23:05:00.332Z","district":"58da8a43cc70ab00017a1a87","ext":{"classroom":"A1"},"grade":"9","last_modified":"2023-04-23T16:07:31.494Z","name":"Group
        Guidance - Greene - 0","period":"0","school":"58da8c58155b940248000007","section_number":"","sis_id":"596","students":["58da8c63d7dc0ca06800046e","58da8c63d7dc0ca068000478","58da8c63d7dc0ca0680004ef","58da8c64d7dc0ca068000557","58da8c64d7dc0ca068000583","58da8c64d7dc0ca0680005af","58da8c64d7dc0ca0680005f5","58da8c64d7dc0ca06800062e","58da8c64d7dc0ca06800062f","58da8c65d7dc0ca0680006a8","58da8c65d7dc0ca0680006ad","58da8c65d7dc0ca06800071f","58da8c65d7dc0ca0680007a1","58da8c65d7dc0ca0680007a9","58da8c65d7dc0ca0680007c7","58da8c65d7dc0ca0680007cd"],"subject":"homeroom/advisory","teacher":"5faac8b7bc447500a10ae85c","teachers":["5faac8b7bc447500a10ae85c","5faac8b7bc447500a10ae85d"],"term_id":"5b42365868c8d6104f634d34","id":"58da8c6a894273be6800018b"},"uri":"/v3.0/sections/58da8c6a894273be6800018b"},{"data":{"course":"5970d4de35e9e6974100025c","created":"2023-04-12T23:05:00.971Z","district":"58da8a43cc70ab00017a1a87","ext":{"classroom":"A1"},"grade":"9","last_modified":"2023-04-23T16:07:32.205Z","name":"Physical
        Education, Group 9A - McCartney - 8","period":"8","school":"58da8c58155b940248000007","section_number":"","sis_id":"841","students":["58da8c63d7dc0ca0680003f7","58da8c63d7dc0ca068000402","58da8c63d7[...]
