---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/users?starting_after=58da8c63d7dc0ca068000478
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"12d83-FisU8rIwhFYNFOMHJr4paQ"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1124'
      x-ratelimit-reset:
      - '1682376269'
    body:
      encoding: ASCII-8BIT
      string: '{"links":[{"rel":"self","uri":"/v3.0/users?starting_after=58da8c63d7dc0ca068000478"},{"rel":"prev","uri":"/v3.0/users?ending_before=58da8c63d7dc0ca06800047a"},{"rel":"next","uri":"/v3.0/users?starting_after=58da8c63d7dc0ca068000503"}],"data":[{"data":{"created":"2023-04-12T23:05:01.637Z","district":"58da8a43cc70ab00017a1a87","email":"o_george@example.org","last_modified":"2023-04-12T23:05:01.637Z","name":{"first":"George","last":"O''Connell","middle":"S"},"id":"58da8c63d7dc0ca06800047a","roles":{"student":{"credentials":{"district_username":"georgeo79"},"dob":"12/20/2007","enrollments":[],"ext":{"gifted_status":""},"gender":"M","grade":"Kindergarten","graduation_year":"","hispanic_ethnicity":"N","location":{"address":"","city":"","state":"","zip":"11695"},"race":"Black
        or African American","school":"58da8c58155b940248000007","schools":["58da8c58155b940248000007"],"sis_id":"235286679","state_id":"733308521","student_number":"235286679","email":"o_george@example.org"}}},"uri":"/v3.0/users/58da8c63d7dc0ca06800047a"},{"data":{"created":"2023-04-12T23:05:01.641Z","district":"58da8a43cc70ab00017a1a87","email":"mark_s@example.org","last_modified":"2023-04-23T16:07:32.863Z","name":{"first":"Mark","last":"Shields","middle":"C"},"id":"58da8c63d7dc0ca06800047c","roles":{"student":{"credentials":{"district_username":"marks72"},"dob":"2/23/1998","enrollments":[],"ext":{"gifted_status":"Y"},"gender":"M","grade":"9","graduation_[...]
