---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/users/58da8c63d7dc0ca0680003ed/mycontacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"23e-lM9k8C4AsHcXvEF+0mzxCA"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1155'
      x-ratelimit-reset:
      - '1682376269'
    body:
      encoding: ASCII-8BIT
      string: '{"links":[{"rel":"self","uri":"/v3.0/users/58da8c63d7dc0ca0680003ed/mycontacts"}],"data":[{"data":{"created":"2023-04-12T23:05:05.757Z","district":"58da8a43cc70ab00017a1a87","email":"becker_sanjiv@example.org","last_modified":"2023-04-12T23:05:05.757Z","name":{"last":"Sanjiv
        Becker"},"id":"5faac8b9bc447500a10aebe8","roles":{"contact":{"phone":"","phone_type":"Other","sis_id":"","student_relationships":[{"relationship":"Other","student":"58da8c63d7dc0ca0680003ed","type":"Family"}],"legacy_id":"59b5635060b900b77f0003ec"}}},"uri":"/v3.0/users/5faac8b9bc447500a10aebe8"}]}'
      effective_url: https://api.clever.com/v3.0/users/58da8c63d7dc0ca0680003ed/mycontacts
  recorded_at: Mon, 24 Apr 2023 22:43:33 GMT
recorded_with: VCR 6.1.0
