---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ilc_DEMO_TEACHER_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"61-AwqL+qrfGYiYQGkFV/VdyPjPCA8"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1196'
      x-ratelimit-reset:
      - '1682376275'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"58da8c5da7a7e5a647000094","district":"58da8a43cc70ab00017a1a87","type":"teacher"}}'
      effective_url: https://api.clever.com/v3.0/me
  recorded_at: Mon, 24 Apr 2023 22:43:40 GMT
recorded_with: VCR 6.1.0
