---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/courses/5970d4dd35e9e69741000160/sections
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4b7-KOre5xi1d20pOWU6qJEHgw"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1190'
      x-ratelimit-reset:
      - '1682376517'
    body:
      encoding: ASCII-8BIT
      string: '{"links":[{"rel":"self","uri":"/v3.0/courses/5970d4dd35e9e69741000160/sections"}],"data":[{"data":{"course":"5970d4dd35e9e69741000160","created":"2023-04-12T23:05:00.626Z","district":"58da8a43cc70ab00017a1a87","ext":{"classroom":"A1"},"grade":"Kindergarten","last_modified":"2023-04-23T16:07:31.817Z","name":"Class
        001, Homeroom - Willms - 0","period":"0","school":"58da8c58155b940248000007","section_number":"","sis_id":"708","students":["58da8c63d7dc0ca068000417","58da8c63d7dc0ca06800041f","58da8c63d7dc0ca06800044a","58da8c63d7dc0ca0680004ce","58da8c63d7dc0ca0680004f9","58da8c64d7dc0ca068000541","58da8c64d7dc0ca06800054f","58da8c64d7dc0ca06800055b","58da8c64d7dc0ca0680005a6","58da8c64d7dc0ca0680005c6","58da8c64d7dc0ca06800064c","58da8c64d7dc0ca068000652","58da8c64d7dc0ca06800068b","58da8c65d7dc0ca06800069b","58da8c65d7dc0ca0680006b0","58da8c65d7dc0ca06800071e","58da8c65d7dc0ca068000735","58da8c65d7dc0ca068000747","58da8c65d7dc0ca06800074e","58da8c65d7dc0ca068000771"],"subject":"homeroom/advisory","teacher":"5faac8b7bc447500a10ae87e","teachers":["5faac8b7bc447500a10ae87e"],"term_id":"5b42365868c8d6104f634d34","id":"58da8c6b894273be680001fa"},"uri":"/v3.0/sections/58da8c6b894273be680001fa"}]}'
      effective_url: https://api.clever.com/v3.0/courses/5970d4dd35e9e69741000160/sections
  recorded_at: Mon, 24 Apr 2023 22:48:28 GMT
recorded_with: VCR 6.1.0
