---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/courses/5970d4dd35e9e69741000160
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1a1-C+8JhTNnEKkrv0+aUaoR8g"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1192'
      x-ratelimit-reset:
      - '1682376517'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"district":"58da8a43cc70ab00017a1a87","name":"Class 001, Homeroom","number":"1","id":"5970d4dd35e9e69741000160"},"links":[{"rel":"self","uri":"/v3.0/courses/5970d4dd35e9e69741000160"},{"rel":"district","uri":"/v3.0/courses/5970d4dd35e9e69741000160/district"},{"rel":"sections","uri":"/v3.0/courses/5970d4dd35e9e69741000160/sections"},{"rel":"schools","uri":"/v3.0/courses/5970d4dd35e9e69741000160/schools"}]}'
      effective_url: https://api.clever.com/v3.0/courses/5970d4dd35e9e69741000160
  recorded_at: Mon, 24 Apr 2023 22:48:28 GMT
recorded_with: VCR 6.1.0
