---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/resources
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ilc_DEMO_TEACHER_TOKEN
  response:
    status:
      code: 404
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1199'
      x-ratelimit-reset:
      - '1682376275'
    body:
      encoding: ASCII-8BIT
      string: |
        <!DOCTYPE html>
        <html lang="en">
        <head>
        <meta charset="utf-8">
        <title>Error</title>
        </head>
        <body>
        <pre>Cannot GET /v3.0/resources</pre>
        </body>
        </html>
      effective_url: https://api.clever.com/v3.0/resources
  recorded_at: Mon, 24 Apr 2023 22:43:35 GMT
recorded_with: VCR 6.1.0
