---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/users?limit=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4b9e-nsb7AGmKldNbQNSDVM/LsA"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1118'
      x-ratelimit-reset:
      - '1682376269'
    body:
      encoding: ASCII-8BIT
      string: '{"links":[{"rel":"self","uri":"/v3.0/users?limit=25"},{"rel":"next","uri":"/v3.0/users?limit=25&starting_after=58da8c63d7dc0ca068000412"}],"data":[{"data":{"created":"2023-04-12T23:05:01.315Z","district":"58da8a43cc70ab00017a1a87","email":"z.steve@example.net","last_modified":"2023-04-12T23:05:01.315Z","name":{"first":"Steve","last":"Ziemann","middle":"G"},"id":"58da8c63d7dc0ca0680003ed","roles":{"student":{"credentials":{"district_username":"stevez33"},"dob":"2/11/2007","enrollments":[],"ext":{"gifted_status":""},"gender":"M","grade":"Kindergarten","graduation_year":"","hispanic_ethnicity":"Y","location":{"address":"","city":"","state":"","zip":"10459"},"race":"Black
        or African American","school":"58da8c58155b940248000007","schools":["58da8c58155b940248000007"],"sis_id":"100095233","state_id":"231786324","student_number":"100095233","email":"z.steve@example.net"}}},"uri":"/v3.0/users/58da8c63d7dc0ca0680003ed"},{"data":{"created":"2023-04-12T23:05:01.320Z","district":"58da8a43cc70ab00017a1a87","email":"w_douglas@example.net","last_modified":"2023-04-23T16:07:32.551Z","name":{"first":"Douglas","last":"Wisoky","middle":"S"},"id":"58da8c63d7dc0ca0680003ee","roles":{"student":{"credentials":{"district_username":"douglasw58"},"dob":"6/18/1998","enrollments":[],"ext":{"gifted_status":"Y"},"gender":"M","grade":"9","grad[...]
