---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/courses?starting_after=5970d4dd35e9e697410001e7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4666-tXVocAM1YwIykfoFzas74Q"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1174'
      x-ratelimit-reset:
      - '1681143855'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"data":{"district":"58da8a43cc70ab00017a1a87","name":"Grade
        4 Music, Class 403","number":"403","id":"5970d4dd35e9e697410001e8"},"uri":"/v3.0/courses/5970d4dd35e9e697410001e8"},{"data":{"district":"58da8a43cc70ab00017a1a87","name":"Grade
        4 Reading, Class 401","number":"401","id":"5970d4dd35e9e697410001e9"},"uri":"/v3.0/courses/5970d4dd35e9e697410001e9"},{"data":{"name":"Grade
        4 Reading, Class 402","number":"402","district":"58da8a43cc70ab00017a1a87","id":"5970d4dd35e9e697410001ea"},"uri":"/v3.0/courses/5970d4dd35e9e697410001ea"},{"data":{"district":"58da8a43cc70ab00017a1a87","na[...]
