---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/districts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"25d-GPw3SniOK3mHMoL1T1zvBQ"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1175'
      x-ratelimit-reset:
      - '1681143855'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"data":{"last_sync":"2023-04-09T16:07:17.964Z","sis_type":"sftp","district_contact":{"district":"58da8a43cc70ab00017a1a87","email":"amelie.zeng+certification@clever.com","name":{"last":"Zeng","first":"Amelie"},"title":"","id":"58da8a43ca1f1e0001aa4220"},"error":"","launch_date":"2017-07-31","name":"#DEMO
        Certification ISD - Events","login_methods":["Clever Passwords"],"state":"running","portal_url":"https://clever.com/in/demo-certification3cc70ab00017a1a87","id":"58da8a43cc70ab00017a1a87"},"uri":"/v3.0/districts/58da8a43cc70ab00017a1a87"}],"links":[{"rel":"self","uri":"/v3.0/districts"}]}'
      effective_url: https://api.clever.com/v3.0/districts
  recorded_at: Mon, 10 Apr 2023 16:23:18 GMT
recorded_with: VCR 6.1.0
