---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/events/640df94fd306111b2385ee9d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      clever-request-id:
      - 5ec6d7a9a97a497e0a2c024856ad240c
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1199'
      x-ratelimit-reset:
      - '1681151981'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"created":"2023-03-12T16:09:51.000Z","data":{"object":{"district_contact":{"district":"58da8a43cc70ab00017a1a87","email":"amelie.zeng+certification@clever.com","id":"58da8a43ca1f1e0001aa4220","name":{"first":"Amelie","last":"Zeng"},"title":""},"error":"","id":"58da8a43cc70ab00017a1a87","last_sync":"2023-03-12T16:08:53.776Z","launch_date":"2017-07-31","login_methods":["Clever
        Passwords"],"name":"#DEMO Certification ISD - Events","portal_url":"https://clever.com/in/demo-certification3cc70ab00017a1a87","sis_type":"sftp","state":"running"},"previous_attributes":{"last_sync":"2023-03-09T22:46:43.807Z"}},"id":"640df94fd306111b2385ee9d","type":"districts.updated"},"links":[{"rel":"self","uri":"/v3.0/events/640df94fd306111b2385ee9d"}]}'
      effective_url: https://api.clever.com/v3.0/events/640df94fd306111b2385ee9d
  recorded_at: Mon, 10 Apr 2023 18:38:41 GMT
recorded_with: VCR 6.1.0
