---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/events?starting_after=640df950d306111b2385f72b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      clever-request-id:
      - 0273c68c40071e8009a8f1d33942be3b
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1198'
      x-ratelimit-reset:
      - '1681151627'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"data":{"created":"2023-03-12T16:09:52.000Z","data":{"object":{"created":"2020-11-10T17:07:22.507Z","district":"58da8a43cc70ab00017a1a87","email":"s_naomi@example.com","id":"58da8c63d7dc0ca06800048d","last_modified":"2023-03-12T16:08:23.609Z","name":{"first":"Naomi","last":"Schulist","middle":"W"},"roles":{"student":{"credentials":{"district_username":"naomis65"},"dob":"2/5/1998","enrollments":[],"ext":{"gifted_status":"Y"},"gender":"F","grade":"9","graduation_year":"","hispanic_ethnicity":"N","location":{"address":"","city":"","state":"","zip":"11428"},"race":"Caucasian","school":"58da8c58155b940248000007","schools":["58da8c58155b940248000007"],"sis_id":"254019765","state_id":"791924272","student_number":"254019765"}}},"previous_attributes":{"roles":{"student":{"ext":{"gifted_status":""},"gender":"X"}}}},"id":"640df950d306111b2385f72c","type":"users.updated"},"uri":"/v3.0/events/640df950d306111b2385f72c"},{"data":{"created":"2023-03-12T16:09:52.000Z","data":{"object":{"created":"2020-11-10T17:07:22.508Z","district":"58da8a43cc70ab00017a1a87","email":"c_anthony@example.com","id":"58da8c63d7dc0ca06800048e","last_modified":"2023-03-12T16:08:23.617Z","name":{"first":"Anthony","last":"Corwin","middle":"M"},"roles":{"student":{"credentials":{"district_username":"anthonyc82"},"dob":"11/2/2001","enrollments":[],"ext":{"gifted_status":""},"ge[...]
