---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/schools/58da8c58155b940248000007
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3c7-LvmAC2/xMtv+UMOH/30JtQ"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1161'
      x-ratelimit-reset:
      - '1681143855'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"district":"58da8a43cc70ab00017a1a87","low_grade":"TransitionalKindergarten","name":"Pineapple
        Elementary School","high_grade":"5","ext":{"charter_school":"N"},"school_number":"13K123","principal":{"email":"ceciliar@mailinator.com","name":"Cecilia
        Roderick"},"state_id":"30890","phone":"(718) 555-4567","location":{"address":"110
        Pineapple Street","city":"Brooklyn","state":"NY","zip":"11201"},"created":"2017-03-28T16:16:24.878Z","sis_id":"13K123","last_modified":"2023-04-09T16:06:54.403Z","id":"58da8c58155b940248000007"},"links":[{"rel":"self","uri":"/v3.0/schools/58da8c58155b940248000007"},{"rel":"district","uri":"/v3.0/schools/58da8c58155b940248000007/district"},{"rel":"sections","uri":"/v3.0/schools/58da8c58155b940248000007/sections"},{"rel":"users","uri":"/v3.0/schools/58da8c58155b940248000007/users"},{"rel":"terms","uri":"/v3.0/schools/58da8c58155b940248000007/terms"},{"rel":"courses","uri":"/v3.0/schools/58da8c58155b940248000007/courses"}]}'
      effective_url: https://api.clever.com/v3.0/schools/58da8c58155b940248000007
  recorded_at: Mon, 10 Apr 2023 16:23:20 GMT
recorded_with: VCR 6.1.0
