---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/schools?starting_after=58da8c58155b940248000007
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"77d-kBa3OkuEzSS0UIxVoEm/Mg"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1194'
      x-ratelimit-reset:
      - '1681143855'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"data":{"created":"2017-03-28T16:16:24.885Z","sis_id":"27Q321","high_grade":"8","phone":"(718)
        555-8989","principal":{"email":"lspringsteen@mailinator.com","name":"Leonard
        Springsteen"},"state_id":"412","low_grade":"6","last_modified":"2023-04-09T16:06:54.407Z","district":"58da8a43cc70ab00017a1a87","school_number":"27Q321","name":"Rockaway
        Beach Middle School","ext":{"charter_school":"Y"},"location":{"address":"322
        Old Beach 88th Street","city":"Rockaway Beach","state":"NY","zip":"11693"},"id":"58da8c58155b940248000008"},"uri":"/v3.0/schools/58da8c58155b940248000008"},{"data":{"location":{"state":"NY","zip":"11693","address":"322
        Old Beach 88th Street","city":"Rockaway Beach"},"ext":{"charter_school":""},"phone":"(718)
        555-8989","name":"Rockaway Beach Middle School Campus 2","state_id":"413","district":"58da8a43cc70ab00017a1a87","school_number":"2ZR351","sis_id":"2ZR351","low_grade":"6","created":"2017-03-28T16:16:24.887Z","high_grade":"8","principal":{"email":"lspringsteen@mailinator.com","name":"Leonard
        Springsteen"},"last_modified":"2023-04-06T16:08:50.189Z","id":"58da8c58155b940248000009"},"uri":"/v3.0/schools/58da8c58155b940248000009"},{"data":{"last_modified":"2023-04-06T16:08:50.192Z","low_grade":"6","principal":{"email":"lspringsteen@mailinator.com","name":"Leonard
        Springsteen"},"school_number":"2ZT381","sis_id":"2ZT381","high_grade":"8","phone":"(718)
        555-8989","created":"2017-03-28T16:16:24.890Z","location":{"zip":"11693","address":"322
        Old Beach 88th Street","city":"Rockaway Beach","state":"NY"},"name":"Rockaway
        Beach Middle School Campus 3","district":"58da8a43cc70ab00017a1a87","ext":{"charter_school":""},"state_id":"414","id":"58da8c58155b94024800000a"},"uri":"/v3.0/schools/58da8c58155b94024800000a"}],"links":[{"rel":"self","uri":"/v3.0/schools?starting_after=58da8c58155b940248000007"},{"rel":"prev","uri":"/v3.0/schools?ending_before=58da8c58155b940248000008"}]}'
      effective_url: https://api.clever.com/v3.0/schools?starting_after=58da8c58155b940248000007
  recorded_at: Mon, 10 Apr 2023 16:23:16 GMT
recorded_with: VCR 6.1.0
