---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/schools
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"94f-nOQSzQ9zEWpdbRwONM02iQ"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1190'
      x-ratelimit-reset:
      - '1681143855'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"data":{"district":"58da8a43cc70ab00017a1a87","low_grade":"TransitionalKindergarten","name":"Pineapple
        Elementary School","high_grade":"5","ext":{"charter_school":"N"},"school_number":"13K123","principal":{"email":"ceciliar@mailinator.com","name":"Cecilia
        Roderick"},"state_id":"30890","phone":"(718) 555-4567","location":{"address":"110
        Pineapple Street","city":"Brooklyn","state":"NY","zip":"11201"},"created":"2017-03-28T16:16:24.878Z","sis_id":"13K123","last_modified":"2023-04-09T16:06:54.403Z","id":"58da8c58155b940248000007"},"uri":"/v3.0/schools/58da8c58155b940248000007"},{"data":{"created":"2017-03-28T16:16:24.885Z","sis_id":"27Q321","high_grade":"8","phone":"(718)
        555-8989","principal":{"email":"lspringsteen@mailinator.com","name":"Leonard
        Springsteen"},"state_id":"412","low_grade":"6","last_modified":"2023-04-09T16:06:54.407Z","district":"58da8a43cc70ab00017a1a87","school_number":"27Q321","name":"Rockaway
        Beach Middle School","ext":{"charter_school":"Y"},"locati[...]
