---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/sections/58da8c6a894273be68000182
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"673-l9kL9i+YsCkVFdnM2EwBYA"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1187'
      x-ratelimit-reset:
      - '1681143855'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"course":"5970d4de35e9e69741000277","created":"2017-03-28T16:16:42.732Z","district":"58da8a43cc70ab00017a1a87","ext":{"classroom":"A1"},"grade":"6","last_modified":"2023-04-09T16:06:55.906Z","name":"Sixth
        Grade Advisory - Madison - 4","period":"4","school":"58da8c58155b940248000008","section_number":"","sis_id":"587","students":["58da8c63d7dc0ca06800040a","58da8c63d7dc0ca068000425","58da8c63d7dc0ca06800043b","58da8c63d7dc0ca068000452","58da8c63d7dc0ca068000467","58da8c64d7dc0ca06800059c","58da8c64d7dc0ca0680005cb","58da8c64d7dc0ca0680005cf","58da8c64d7dc0ca0680005e6","58da8c64d7dc0ca068000614","58da8c64d7dc0ca06800062a","58da8c64d7dc0ca068000670","58da8c65d7dc0ca06800068c","58da8c65d7dc0ca0680006bc","58da8c65d7dc0ca0680006bf","58da8c65d7dc0ca0680006ca","58da8c65d7dc0ca0680006f5","58da8c65d7dc0ca06800072b","58da8c65d7dc0ca06800073b","58da8c65d7dc0ca068000745","58da8c65d7dc0ca068000764","58da8c65d7dc0ca068000766","58da8c65d7dc0ca06800079c","58da8c65d7dc0ca0680007bb","58da8c65d7dc0ca0680007ce","58da8c65d7dc0ca0680007d7"],"subject":"homeroom/advisory","teacher":"5faac8b7bc447500a10ae88f","teachers":["5faac8b7bc447500a10ae88f"],"term_id":"5b42365868c8d6104f634d34","id":"58da8c6a894273be68000182"},"links":[{"rel":"self","uri":"/v3.0/sections/58da8c6a894273be68000182"},{"rel":"district","uri":"/v3.0/sections/58da8c6a894273be68000182/district"},{"rel":"school","uri":"/v3.0/sections/58da8c6a894273be68000182/school"},{"rel":"term","uri":"/v3.0/sections/58da8c6a894273be68000182/term"},{"rel":"course","uri":"/v3.0/sections/58da8c6a894273be68000182/course"},{"rel":"users","uri":"/v3.0/sections/58da8c6a894273be68000182/users"}]}'
      effective_url: https://api.clever.com/v3.0/sections/58da8c6a894273be68000182
  recorded_at: Mon, 10 Apr 2023 16:23:17 GMT
recorded_with: VCR 6.1.0
