---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/terms?limit=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2c6-gljajVOOShm0NvfnXG0Nbg"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1197'
      x-ratelimit-reset:
      - '1681143855'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"data":{"start_date":"2012-08-01","district":"58da8a43cc70ab00017a1a87","end_date":"2012-12-01","name":"S1","id":"5b42365868c8d6104f634d32"},"uri":"/v3.0/terms/5b42365868c8d6104f634d32"},{"data":{"district":"58da8a43cc70ab00017a1a87","end_date":"2013-06-01","name":"S2","start_date":"2012-12-02","id":"5b42365868c8d6104f634d33"},"uri":"/v3.0/terms/5b42365868c8d6104f634d33"},{"data":{"district":"58da8a43cc70ab00017a1a87","end_date":"2013-06-01","name":"Y1","start_date":"2012-08-01","id":"5b42365868c8d6104f634d34"},"uri":"/v3.0/terms/5b42365868c8d6104f634d34"}],"links":[{"rel":"self","uri":"/v3.0/terms?limit=3"},{"rel":"next","uri":"/v3.0/terms?limit=3&starting_after=5b42365868c8d6104f634d34"}]}'
      effective_url: https://api.clever.com/v3.0/terms?limit=3
  recorded_at: Mon, 10 Apr 2023 16:23:16 GMT
- request:
    method: get
    uri: https://api.clever.com/v3.0/terms?limit=3&starting_after=5b42365868c8d6104f634d34
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"231-qlw2Q0fXAFk/EpPC0gYbwg"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1196'
      x-ratelimit-reset:
      - '1681143855'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"data":{"end_date":"2017-06-01","name":"Y1","start_date":"2016-08-01","district":"58da8a43cc70ab00017a1a87","id":"5b42365868c8d6104f634d35"},"uri":"/v3.0/terms/5b42365868c8d6104f634d35"},{"data":{"district":"58da8a43cc70ab00017a1a87","end_date":"2018-06-01","name":"Y1","start_date":"2017-08-01","id":"5b42365868c8d6104f634d36"},"uri":"/v3.0/terms/5b42365868c8d6104f634d36"}],"links":[{"rel":"self","uri":"/v3.0/terms?limit=3&starting_after=5b42365868c8d6104f634d34"},{"rel":"prev","uri":"/v3.0/terms?limit=3&ending_before=5b42365868c8d6104f634d35"}]}'
      effective_url: https://api.clever.com/v3.0/terms?limit=3&starting_after=5b42365868c8d6104f634d34
  recorded_at: Mon, 10 Apr 2023 16:23:16 GMT
recorded_with: VCR 6.1.0
