---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v3.0/terms?starting_after=5b42365868c8d6104f634d34
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TEST_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"221-sUAkrdE34A6H7/hvZT+LZg"
      x-ratelimit-bucket:
      - bearer
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '1199'
      x-ratelimit-reset:
      - '1681143855'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"data":{"end_date":"2017-06-01","name":"Y1","start_date":"2016-08-01","district":"58da8a43cc70ab00017a1a87","id":"5b42365868c8d6104f634d35"},"uri":"/v3.0/terms/5b42365868c8d6104f634d35"},{"data":{"district":"58da8a43cc70ab00017a1a87","end_date":"2018-06-01","name":"Y1","start_date":"2017-08-01","id":"5b42365868c8d6104f634d36"},"uri":"/v3.0/terms/5b42365868c8d6104f634d36"}],"links":[{"rel":"self","uri":"/v3.0/terms?starting_after=5b42365868c8d6104f634d34"},{"rel":"prev","uri":"/v3.0/terms?ending_before=5b42365868c8d6104f634d35"}]}'
      effective_url: https://api.clever.com/v3.0/terms?starting_after=5b42365868c8d6104f634d34
  recorded_at: Mon, 10 Apr 2023 16:23:15 GMT
recorded_with: VCR 6.1.0
