---
http_interactions:
- request:
    method: get
    uri: https://clever.com/oauth/tokens?owner_type=district&district=58da8a43cc70ab00017a1a87
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MDk1YjgyY2JiZDhjNjg3MTRkMWM6NGIzMzg0ODljZWI0YmVjMzYyNDYxYTdjOTZlM2FhNjA5ZWZmZjA0OQ==
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"705629524"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"62b4e190573f9600080cbf08","created":"2022-06-23T21:56:32.335Z","owner":{"type":"district","id":"58da8a43cc70ab00017a1a87"},"access_token":"a9d8f54716263679e484e2de6703c0a514c8dda7","scopes":["read:district_admins_basic","read:school_admins_basic","read:students_basic","read:teachers_basic","read:user_id"]}],"links":[{"rel":"self","uri":"/oauth/tokens?owner_type=district&district=58da8a43cc70ab00017a1a87"}]}'
      effective_url: https://clever.com/oauth/tokens?owner_type=district&district=58da8a43cc70ab00017a1a87
  recorded_at: Mon, 10 Apr 2023 16:23:19 GMT
recorded_with: VCR 6.1.0
