---
http_interactions:
- request:
    method: get
    uri: https://clever.com/oauth/tokens?owner_type=district
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MDk1YjgyY2JiZDhjNjg3MTRkMWM6NGIzMzg0ODljZWI0YmVjMzYyNDYxYTdjOTZlM2FhNjA5ZWZmZjA0OQ==
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1383712"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"62b4e190573f9600080cbf08","created":"2022-06-23T21:56:32.335Z","owner":{"type":"district","id":"58da8a43cc70ab00017a1a87"},"access_token":"a9d8f54716263679e484e2de6703c0a514c8dda7","scopes":["read:district_admins_basic","read:school_admins_basic","read:students_basic","read:teachers_basic","read:user_id"]},{"id":"62b4e1cf573f9600080cbf0a","created":"2022-06-23T21:57:35.193Z","owner":{"type":"district","id":"5d0a9e5d0958b300014e49d2"},"access_token":"bab5ba2d62af931d48420a70f6979c5bfa5ff7e3","scopes":["read:district_admins_basic","read:school_admins_basic","read:students_basic","read:teachers_basic","read:user_id"]},{"id":"62b4e0db12d490000725d958","created":"2022-06-23T21:53:31.725Z","owner":{"type":"district","id":"62817af12d430f5d54001f99"},"access_token":"2b907bfab3ac2c992a3b96d6aceef2d01fe817a5","scopes":["read:district_admins_basic","read:school_admins_basic","read:students_basic","read:teachers_basic","read:user_id"]}],"links":[{"rel":"self","uri":"/oauth/tokens?owner_type=district"}]}'
      effective_url: https://clever.com/oauth/tokens?owner_type=district
  recorded_at: Mon, 10 Apr 2023 16:23:19 GMT
recorded_with: VCR 6.1.0
